<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Personal Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../resources/css/styles.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-center me-auto">
                    <li class="nav-item">
                        <span class="navbar-text me-2">Pages: </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./hobbies.html">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./projects.html">Projects</a>
                    </li>
                </ul>
                <img src="../resources/img/cheese.png" height="50" width="50">
            </div>
        </div>
    </nav>

    <main class="flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="container my-5">
            <div class="row justify-content-center align-items-center">
                <div class="text-box rounded border border-3 border-white col-md-6">
                    <h1 class="background-title mt-2 text-center">Education</h1>
                    <h5 class="background-text">•Highschool: Lake Washington High School</h5>
                    <h5>""</h5>
                    <h5 class="background-text">•University of Colorado Boulder - Computer Science (BS)</h5>
                    <h5 class="background-text">- Dean's List (Fall 2025)</h5>
                    <h5>""</h5>
                    <h1 class="background-title mt-2 text-center">Skills</h1>
                    <h5 class="background-text">•Java, Javascript, C, C++, Python</h5>
                    <h1 class="background-title mt-2 text-center">Extracuriculars</h1>
                    <h5 class="background-text">•Video Game Development Club, Board Game Club</h5>
                    <h5>""</h5>
                </div>
                <div class="text-box rounded border border-3 border-white col-md-6">
                    <h1 class="background-title mt-2 text-center">Projects</h1>
                    <h5 class="background-text">•Regex Parser</h5>
                    <h5 class="background-text">- Programmed Regex Parser with limited number of operations but perfect matching.</h5>
                    <h5 class="background-text">- Utilizes Graph Data Structure to scan text for given search pattern.</h5>
                    <h5 class="background-text">•Scrabble Solver</h5>
                    <h5 class="background-text">- Algorithm which finds best-scoring move in given Scrabble table in very quick time.</h5>
                    <h5 class="background-text">- Utilizes Trie Data Structures and backtracking so it never has to check entire dictionary.</h5>
                    <h5 class="background-text">•Game Recreations</h5>
                    <h5 class="background-text">- Remade both Minesweeper and Tetris using classic graphics from original versions.</h5>
                    <h5 class="background-text">- Paid very close attention to maintaining authenticity, with original algorithms/gameplay.</h5>
                    <h5>""</h5>
                    <h5 class="text-center"><a href="../resources/pdf/resume.pdf" target="_blank" download="filename.pdf"><button class="text-center" data-bs-theme="dark">Download PDF</button></a></h5>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-light text-center py-3 mt-auto rounded-0">
        <div class="container">
            <a href="https://github.com/MihaiAlexandru-Radu" target="_blank" class="me-2">
                <img src="../resources/img/github_logo.png" height="50" width="50">
            </a>
            <a href="https://www.linkedin.com/in/mihai-alexandru-radu-931753380/" target="_blank">
                <img src="../resources/img/linkedin_logo.png" height="50" width="50">
            </a>
            <p class="mt-2 mb-0">2026© Mihai-Alexandru Radu</p>
        </div>
    </footer>

</body>

</html>